{:schema-version 1, :name "starter-graph-w-ontology-20260730T203045Z", :repo "logseq_db_starter-graph-w-ontology", :source :electron-auto, :created-at-ms 1785443445259, :db-path "C:\\Users\\aseel\\logseq\\graphs\\starter-graph-w-ontology\\backup\\starter-graph-w-ontology-20260730T203045Z\\db.sqlite"}