{:schema-version 1, :name "starter-graph-w-ontology-20260731T070001Z", :repo "logseq_db_starter-graph-w-ontology", :source :electron-auto, :created-at-ms 1785481201526, :db-path "C:\\Users\\aseel\\logseq\\graphs\\starter-graph-w-ontology\\backup\\starter-graph-w-ontology-20260731T070001Z\\db.sqlite"}